/* MAIN HEADING */
.title {
  text-align: center;
  font-family: Arial;
  margin-bottom: 20px;
}

/* CONTAINER */
.container {
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

/* CARDS */
.card {
  width: 23%;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
  text-align: center;
  box-sizing: border-box;
}

/* PROFILE IMAGE */
.profile {
  width: 100%;
  border-radius: 10px;
  height: 230px;
  object-fit: cover;
}

/* TEXT */
.card h3 {
  margin: 10px 0 5px 0;
  font-size: 18px;
  font-family: Arial;
}

.card p {
  margin: 0 0 10px 0;
  color: #555;
  font-size: 14px;
}

/* LOGO */
.logo {
  width: 90px;
  margin-top: 5px;
}

/* RESPONSIVE */
@media(max-width: 900px) {
  .card {
    width: 48%;
  }
}

@media(max-width: 600px) {
  .card {
    width: 100%;
  }
}
